.wide-button {
  width: 100%;
  font-size: large;
}

.motes-list {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-card {
  min-width: 10rem;
  margin: 0.5rem;
  flex-direction: column;
}

.mote-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.coordinates-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.coordinate-input {
  width: 100%;
  justify-content: space-around;
}

.mote-errors {
  text-align: center;
  padding: 0.7rem;
}