<h1>Asociación de coordenadas</h1>
<p>
  Ya tenemos las motas detectadas. Ahora necesitamos indicar las coordenadas de
  cada mota.
</p>
<p>
  Para esto podemos usar su identificador (el cual fue asignado al compilar y
  cargar su programa).
</p>

<form class="motes-input" [formGroup]="coordinatesForm">
  <div class="motes-list" formArrayName="coordinates">
    <mat-card *ngFor="let mote of motes; let i = index">
      <div class="mote-info">
        <span>Mota ID: {{ mote.id }}</span>
        <span>IP: {{ mote.ip }}</span>
      </div>
      <div class="coordinates-form" [formGroupName]="i">
        <mat-form-field class="coordinate-input">
          <mat-label>Coordenadas</mat-label>
          <mat-select formControlName="coord">
            <mat-option *ngFor="let coord of coordinatesList" [value]="coord">
              {{ coord.x }}, {{ coord.y }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>
  </div>

  <div class="mote-errors">
      <mat-error
        *ngIf="coordinatesForm.invalid && (coordinatesForm.dirty || coordinatesForm.touched)"
      >
        No se pueden repetir coordenadas
      </mat-error>
    </div>

  <button
    mat-raised-button
    color="primary"
    class="wide-button"
    [disabled]="!canContinue"
    (click)="continue()"
  >
    Continuar
  </button>
</form>
