<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title" routerLink="/">Lectura de temperatura heterogenea</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
