<button mat-button color="primary" (click)="updateValues()" [disabled]="!canRefresh">Refrescar</button>

<app-sparseheatmap [size]="[spaceSize.x, spaceSize.y]" [input]="plotData"></app-sparseheatmap>
