.wide-button {
    width: 100%;
    font-size: large;
}

.full-wide {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.motes-error {
  text-align: center;
  padding: 0.7rem;
}

.pageform {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.motes-list {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}