<h1>Carga de motas a utilizar</h1>
<div class="controls">
  <div class="info">
    <p>
      El primer paso es cargar la lista de motas a monitorear. Para esto se debe
      ingresar la lista de IPs de las motas. Se pueden definir un máximo de
      {{ maxMotes }} motas.
    </p>
    <p>
      La dirección IP puede ser tanto en IPv4 como IPv6.
    </p>
  </div>

  <div class="pageform">
    <form class="motes-input">
      <mat-form-field class="full-wide">
        <textarea
          matInput
          rows="6"
          placeholder="IP de Motas"
          [formControl]="moteInput"
          required
        >
        </textarea>
        <mat-error
          *ngIf="moteInput.invalid && (moteInput.dirty || moteInput.touched)"
        >
          IPs inválida
        </mat-error>
      </mat-form-field>
      <button
        mat-button
        class="full-wide"
        (click)="addMote()"
        [disabled]="!moteInput.valid"
      >
        Agregar
      </button>
    </form>
  </div>
</div>

<div class="motes-list">
  <mat-card *ngFor="let mote of motes; let i = index">
    <button mat-icon-button aria-label="Eliminar mota" (click)="removeMote(i)">
      <mat-icon>delete</mat-icon>
    </button>
    <span>{{ mote }}</span>
  </mat-card>
</div>

<mat-error class="motes-error full-wide" *ngIf="motes.length > maxMotes">
  ¡Demasiadas motas!
</mat-error>

<div>
  <button
    mat-raised-button
    color="primary"
    class="wide-button"
    [disabled]="!canContinue"
    (click)="continue()"
  >
    Continuar
  </button>
</div>
