<h1>Definición de espacio</h1>
<form class="space-input" [formGroup]="spaceForm">
  <div class="controls">
    <div>
      <p>
        Primero se debe definir el tamaño del espacio sobre el que se va a
        operar.
      </p>
      <p>
        Por ejemplo, si se quieren ubicar 6 motas distribuidas en dos hileras de
        3 motas cada una, se puede definir un espacio de Ancho 3 y Profundidad
        2.
      </p>
      <p>
        Preferiblemente se debe llenar el espacio de motas para que los valores
        mostrados tengan más sentido
      </p>
    </div>
    <div class="pageform">
      <mat-form-field class="coordinate-input input-x">
        <input
          matInput
          placeholder="Ancho"
          type="number"
          formControlName="x"
          min="0"
          max="99"
          required
        />
      </mat-form-field>
      <mat-form-field class="coordinate-input input-y">
        <input
          matInput
          placeholder="Profundidad"
          type="number"
          formControlName="y"
          min="0"
          max="99"
          required
        />
      </mat-form-field>
      <div class="mote-errors">
        <mat-error
          *ngIf="spaceForm.invalid && (spaceForm.dirty || spaceForm.touched)"
        >
          Valores inválidos
        </mat-error>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="wide-button"
    [disabled]="!canContinue"
    (click)="continue()"
  >
    Continuar
  </button>
</form>
