.controls {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.pageform {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wide-button {
  width: 100%;
  font-size: large;
}
